.student-page {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.student-page .content {
    background-color: #f9f9f9;
    overflow-y: auto;
}

@media screen and (max-width: 768px) {
    .student-page {
        flex-direction: column;
    }

    .student-page .content {
        padding: 1rem;
    }
}
