.modal-content {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--color-white-soft);
    border: 1px solid var(--color-gray-light);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.modal-title {
    margin-top: 0;
    font-weight: bold;
    color: var(--color-black-soft);
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    margin-bottom: 20px;
}

.btn {
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-primary {
    background-color: var(--color-green) !important;
    border: var(--color-green) !important;
}

.btn-primary:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.btn-secondary {
    background-color: var(--color-gray-button);
    border-color: var(--color-gray-button);
}

.btn-secondary:hover {
    background-color: var(--color-gray-medium);
    transform: scale(1.05);
}



@media (max-width: 576px) {
    .modal-content {
        padding: 15px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .btn {
        width: 100%;
        margin-bottom: 10px;
    }
}
