.table-custom thead {
    background-color: var(--color-gray-light);
}

.table-custom tbody tr:hover {
    background-color: var(--color-gray-medium);
}

.table-custom td, .table-custom th {
    padding: 1rem;
    text-align: center;
}

.table-custom {
    border-collapse: separate; /* Allows for border-radius */
    border-spacing: 0; /* Removes gaps between cells */
    width: 100%;
    overflow: hidden;
    border-radius: 10px; /* Add desired border-radius here */
}

.table-custom thead th {
    background-color: var(--color-gray-light);
}

.table-custom tbody tr:first-child {
    border-top-left-radius: 10px; /* Top-left corner radius */
}

.table-custom tbody tr:first-child {
    border-top-right-radius: 10px; /* Top-right corner radius */
}

.table-custom tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px; /* Bottom-left corner radius */
}

.table-custom tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px; /* Bottom-right corner radius */
}

@media (max-width: 768px) {
    .container-custom {
        padding: 1rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    .btn-custom, .btn-delete, .btn-modify {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    .table-custom td, .table-custom th {
        padding: 0.5rem;
    }
}
