.btn-custom {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    background-color: var(--color-green) !important;
    border-color: var(--color-green) !important;
    color: white;
}

.btn-custom:hover {
    background-color: #218838 !important;
    border-color: #218838 !important;
    transition: 200ms !important;
}
